
/*
.ui-header {
position : fixed;
top : 20px;
left : 0;
width : 100%;
height : 40px;
}*/



label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

@media screen and (orientation: portrait){
    label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
    label.error { display: inline-block; margin-left: 22%; }
}

em { color: red; font-weight: bold; padding-right: .25em; }



.button_image{
 width:  32px;
    height: 32px;
    border: 0;
  	background: url("images/camera_20.svg") no-repeat;
    background-size: auto 100%;
}


.home {
    float: left;
    height: 155px;
    margin-bottom: 0%;
    overflow: hidden;
    list-style: none;
}

.home.w5 {
     width: 33.3%;
}


.ui-grid-b img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}


.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}



.flat-btn {
 width:  32px;
    height: 32px;
    border: 0;
    margin: 4px;
  	background: url("images/camera_20.svg") no-repeat;
    background-size: auto 100%;

}
